extends ./layout.jade

block content
  h1 排课总表
  button.btn.btn-primary 导入单条排课
  button.btn.btn-primary 批量导入排课
  button.btn.btn-primary 导出排课总表
  form(method='get')
    button.btn.btn-primary(type='submit') 批量导入的表格格式下载
  table.table.table-bordered
    thead
      tr
        th 课程代码
        th 课程名称
        th 实验课性质
        th 是否独立设课
        th 周次
        th 星期
        th 节次时间
        th 实验楼
        th 房间/位置
        th 实验内容
        th 主讲
        th 辅导
        th 上课人数
        th 开设组数
        th 年纪、专业、班级
        th 备注
        th 调停课纪录
    tbody
      for s in schedules
        tr
          td= s.code
          td= s.name
          td= s.type
          td= s.duli
          td= s.week
          td= s.day
          td= s.time
          td= s.building
          td= s.room
          td= s.content
          td= s.t1
          td= s.t2
          td= s.count
          td= s.group_count
          td= s.class
          td= s.remark
          td 
